@using WebApp.Models
@model CourseModel

<section id="create-course">
    <div class="container">
        <form asp-action="Create" asp-controller="Courses" method="post">
            <div class="input-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
            </div>
            <div class="input-group">
                <label asp-for="Ingress"></label>
                <input asp-for="Ingress" />
            </div>
            <div class="checkbox-group">
                <label asp-for="IsBestseller"></label>
                <input asp-for="IsBestseller" />
            </div>
            <div class="input-group">
                <label asp-for="Reviews"></label>
                <input asp-for="Reviews" />
            </div>
            <div class="input-group">
                <label asp-for="RatingImage"></label>
                <input asp-for="RatingImage" />
            </div>
            <div class="input-group">
                <label asp-for="LikesInProcent"></label>
                <input asp-for="LikesInProcent" />
            </div>
            <div class="input-group">
                <label asp-for="LikesInNumbers"></label>
                <input asp-for="LikesInNumbers" />
            </div>
            <div class="input-group">
                <label asp-for="DurationHours"></label>
                <input asp-for="DurationHours" />
            </div>
            <div class="input-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" />
            </div>
            <div class="input-group">
                <label asp-for="Details!.NumberOfArticles"></label>
                <input asp-for="Details!.NumberOfArticles" />
            </div>
            <div class="input-group">
                <label asp-for="Details!.NumberOfResources"></label>
                <input asp-for="Details!.NumberOfResources" />
            </div>
            <div class="checkbox-group">
                <label asp-for="Details!.LifetimeAccess"></label>
                <input asp-for="Details!.LifetimeAccess" />
            </div>
            <div class="checkbox-group">
                <label asp-for="Details!.Certificate"></label>
                <input asp-for="Details!.Certificate" />
            </div>
            <div class="input-group">
                <label asp-for="Details!.Price"></label>
                <input asp-for="Details!.Price" />
            </div>
            <div class="input-group">
                <label asp-for="Details!.DiscountedPrice"></label>
                <input asp-for="Details!.DiscountedPrice" />
            </div>

            <div class="input-group">
                <label asp-for="LearningDetails"></label>
                <div id="learning-details-container">
                    @if (Model.LearningDetails != null)
                    {
                        int index = 0;
                        foreach (var detail in Model.LearningDetails)
                        {
                            <div class="learning-detail">
                                <input type="text" name="LearningDetails[@index].LearningsDescription" value="@detail.LearningsDescription" />
                                <button type="button" class="btn btn-sm btn-danger" onclick="removeLearningDetail(@index)">Remove</button>
                            </div>
                            index++;
                        }
                    }
                </div>
                <button type="button" class="btn btn-sm btn-primary" onclick="addLearningDetail()">Add Learning Detail</button>
            </div>

            <div class="input-group">
                <label asp-for="ProgramDetails"></label>
                <div id="program-details-container">
                    @if (Model.ProgramDetails != null)
                    {
                        int index = 0;
                        foreach (var detail in Model.ProgramDetails)
                        {
                            <div class="program-detail">
                                <p>Number</p>
                                <input type="number" name="ProgramDetails[@index].ProgramDetailsNumber" value="@detail.ProgramDetailsNumber" />
                                <p>Title</p>
                                <input type="text" name="ProgramDetails[@index].ProgramDetailsTitle" value="@detail.ProgramDetailsTitle" />
                                <p>Description</p>
                                <input type="text" name="ProgramDetails[@index].ProgramDetailsDescription" value="@detail.ProgramDetailsDescription" />
                                <button type="button" class="btn btn-sm btn-danger" onclick="removeProgramDetail(@index)">Remove</button>
                            </div>
                            index++;
                        }
                    }
                </div>
                <button type="button" class="btn btn-sm btn-primary" onclick="addProgramDetail()">Add Program Detail</button>
            </div>

            <div class="input-group">
                <label asp-for="Category!.CategoryName"></label>
                <input asp-for="Category!.CategoryName" />
            </div>
            <div class="input-group">
                <label asp-for="Creator!.CreatorName"></label>
                <input asp-for="Creator!.CreatorName" />
            </div>
            <div class="input-group">
                <label asp-for="Creator!.CreatorBio"></label>
                <input asp-for="Creator!.CreatorBio" />
            </div>
            <div class="input-group">
                <label asp-for="Creator!.YoutubeSubscribers"></label>
                <input asp-for="Creator!.YoutubeSubscribers" />
            </div>
            <div class="input-group">
                <label asp-for="Creator!.FacebookFollowers"></label>
                <input asp-for="Creator!.FacebookFollowers" />
            </div>
            <div class="input-group">
                <label asp-for="Creator!.CreatorImage"></label>
                <input asp-for="Creator!.CreatorImage" />
            </div>

            <button class="btn btn-sm btn-primary" type="submit">CREATE</button>

        </form>
    </div>
</section>


