@using WebApp.Models
@model CourseRegistrationFormViewModel

<section id="create-course">
    <div class="container">
        <form asp-action="Create" asp-controller="Courses" method="post">
            <div class="input-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
            </div>
            <div class="input-group">
                <label asp-for="Ingress"></label>
                <input asp-for="Ingress" />
            </div>
            <div class="checkbox-group">
                <label asp-for="IsBestseller"></label>
                <input asp-for="IsBestseller" />
            </div>
            <div class="input-group">
                <label asp-for="Reviews"></label>
                <input asp-for="Reviews" />
            </div>
            <div class="input-group">
                <label asp-for="RatingImage"></label>
                <input asp-for="RatingImage" />
            </div>
            <div class="input-group">
                <label asp-for="LikesInProcent"></label>
                <input asp-for="LikesInProcent" />
            </div>
            <div class="input-group">
                <label asp-for="LikesInNumbers"></label>
                <input asp-for="LikesInNumbers" />
            </div>
            <div class="input-group">
                <label asp-for="DurationHours"></label>
                <input asp-for="DurationHours" />
            </div>
            <div class="input-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" />
            </div>
            <div class="input-group">
                <label asp-for="NumberOfArticles"></label>
                <input asp-for="NumberOfArticles" />
            </div>
            <div class="input-group">
                <label asp-for="NumberOfResources"></label>
                <input asp-for="NumberOfResources" />
            </div>
            <div class="checkbox-group">
                <label asp-for="LifetimeAccess"></label>
                <input asp-for="LifetimeAccess" />
            </div>
            <div class="checkbox-group">
                <label asp-for="Certificate"></label>
                <input asp-for="Certificate" />
            </div>
            <div class="input-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" />
            </div>
            <div class="input-group">
                <label asp-for="DiscountedPrice"></label>
                <input asp-for="DiscountedPrice" />
            </div>
            
@*             //public string LearningsDescription { get; set; } = null!;
            //public int ProgramDetailsNumber { get; set; }
            //public string ProgramDetailsTitle { get; set; } = null!;
            //public string? ProgramDetailsDescription { get; set; } *@

@*             <div class="input-group">
                <label asp-for="LearningDetails"></label>
                <div id="learning-details-container">
                    <div class="learning-detail">
                        <input type="text" asp-for="LearningDetails![0].Description" />
                        <button type="button" class="btn btn-sm btn-danger" onclick="removeLearningDetail(0)">Remove</button>
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-primary" onclick="addLearningDetail()">Add Learning Detail</button>
            </div>

            <div class="input-group">
                <label asp-for="ProgramDetails"></label>
                <div id="program-details-container">
                    <div class="program-detail">
                        <p>Number</p>
                        <input type="number" asp-for="ProgramDetails![0].Number" />
                        <p>Title</p>
                        <input type="text" asp-for="ProgramDetails![0].Title" />
                        <p>Description</p>
                        <input type="text" asp-for="ProgramDetails![0].Description" />
                        <button type="button" class="btn btn-sm btn-danger" onclick="removeProgramDetail(0)">Remove</button>
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-primary" onclick="addProgramDetail()">Add Program Detail</button>
            </div> *@



            <div class="input-group">
                <label asp-for="CategoryName"></label>
                <input asp-for="CategoryName" />
            </div>
            <div class="input-group">
                <label asp-for="CreatorName"></label>
                <input asp-for="CreatorName" />
            </div>
            <div class="input-group">
                <label asp-for="CreatorBio"></label>
                <input asp-for="CreatorBio" />
            </div>
            <div class="input-group">
                <label asp-for="YoutubeSubscribers"></label>
                <input asp-for="YoutubeSubscribers" />
            </div>
            <div class="input-group">
                <label asp-for="FacebookFollowers"></label>
                <input asp-for="FacebookFollowers" />
            </div>
            <div class="input-group">
                <label asp-for="CreatorImage"></label>
                <input asp-for="CreatorImage" />
            </div>

            <button class="btn btn-sm btn-primary" type="submit">CREATE</button>

        </form>
    </div>
</section>


