@using Infrastructure.Entities
@model IEnumerable<CourseEntity>

@{
    ViewData["Title"] = "Courses";
}

<a asp-action="Create" asp-controller="Courses">New Course</a>
<br />
<hr />
<br />

@foreach (var course in Model)
{
    <div>@course.Title</div>
}
