@* @using WebApp.Models
@model SubscribeViewModel

@{
    ViewData["Title"] = "Subscribe";
}

@if (Model.IsSubscribed)
{
    <div>You are subscribed</div>
}

<form asp-action="Index" asp-controller="Subscribers" method="post">
    <input asp-for="@Model.Email" />
    <button type="submit">Subscribe</button>
</form> *@

